name: sync-labs-to-feishu-full

on:
  schedule:
    - cron: "0 2 1/15 * *"
  workflow_dispatch:

jobs:
  sync:
    if: github.repository_owner == 'labex-labs'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install CLI
        run: |
          git clone https://${{ secrets.GH_TOKEN }}@github.com/labex-labs/labex-cli.git /tmp/labex-cli
          cd /tmp/labex-cli
          pip install --editable .
      - name: Sync to Feishu
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_SECRET: ${{ secrets.APP_SECRET }}
          LABEX_USERNAME: ${{ secrets.LABEX_USERNAME }}
          LABEX_PASSWORD: ${{ secrets.LABEX_PASSWORD }}
        run: |
          labex login --username $LABEX_USERNAME --password $LABEX_PASSWORD --check false
          labex syc feishu lab --appid "$APP_ID" --appsecret "$APP_SECRET" --repo $GITHUB_REPOSITORY --labid true
